<table class="table table-bordered text-center">
    <tbody>
      <tr>
        <td>
          <%= link_to posts_path, class: "text-dark" do %>
            <i class="fas fa-home"></i></br>
            <p>投稿一覧</p>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to search_users_path, class: "text-dark" do %>
            <i class="fas fa-search"></i></br>
            <p>ユーザー検索</p>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to new_post_path, class: "text-dark" do %>
            <i class="fas fa-camera"></i></br>
            <p>投稿する</p>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to likes_user_path(current_user), class: "text-dark" do %>
            <i class="fas fa-heart"></i></br>
            <p>いいねした投稿</p>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to new_calory_path, class: "text-dark" do %>
            <i class="fas fa-fire"></i></br>
            <p>消費カロリー計算</p>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to calories_path, class: "text-dark" do %>
            <i class="fas fa-biking"></i></br>
            <p>消費カロリー一覧</p>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <% if unchecked_notifications.any? %>
            <span class="fa-stack">
              <%= link_to notifications_path, class: "text-dark" do %>
                <i class="far fa-bell fa-lg fa-stack-1x" style="font-size: 1.5em;"></i>
                <i class="fas fa-circle fa-lg n-circle fa-stack-1x"></i></br>
                <p>通知</p>
               <% end %>
            </span>
          <% else %>
            <%= link_to notifications_path, class: "text-dark" do %>
              <i class="far fa-bell fa-lg" style="font-size: 1.5em;"></i></br>
              <p>通知</p>
            <% end %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>