<% if users.exists? %>
  <% users.each do |user| %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>ユーザ名</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <%= link_to user_path(user.id), class: "text-dark" do %>
            <td><%= image_tag user.get_profile_image(100,100) %></td>
            <td><%= user.name %></td>
          <% end %>
          <td>
            <%= link_to user_followings_path(user), class: "text-dark" do %>
              <%= user.followings.count %> フォロー </td>
            <% end %>
          <td>
            <%= link_to user_followers_path(user), class: "text-dark" do %>
              <%= user.followers.count %> フォロワー
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>