<% if users.exists? %>
  <% users.each do |user| %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>ユーザ名</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= link_to admin_user_path(user.id), class: "text-dark" do %>
              <%= image_tag user.get_profile_image(100,100) %>
            <% end %>
          </td>
          <td>
            <%= link_to admin_user_path(user.id), class: "text-dark" do %>
              <%= user.name %>
            <% end %>
          </td>

          <td>
            <%= link_to admin_user_followings_path(user), class: "text-dark" do %>
              <%= user.followings.count %> フォロー </td>
            <% end %>
          <td>
            <%= link_to admin_user_followers_path(user), class: "text-dark" do %>
              <%= user.followers.count %> フォロワー
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>