<div class="container">
  <div class="row">
    <div class="col">
      <% flash.each do |key, value| %>
       <%= content_tag(:div, value, class: key) %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-3">
          <%= link_to admin_user_path(@post.user.id), class: "text-dark" do %>
            <%= image_tag @post.user.get_profile_image(100,100) %>
            <%= @post.user.name %>
          <% end %>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <%= link_to "削除する", admin_post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= image_tag @post.get_image(700,400) %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p><%= l @post.created_at, format: :japanese %></p>
        </div>
        <div class="col-md-7"></div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <!--いいね数-->
            <p>
              <i class="fas fa-heart"></i><%= @post.likes.count %>いいね
            </p>
        </div>
        <div class="col-md-2">
          <!--コメント数-->
          <p>コメント<%= @post.post_comments.count %>件</p>
        </div>
        <div class="col-md-5"></div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <p><%= @post.body %></p>
        </div>
      </div>
      <div class="row">
        <% @post_tags.each do |tag| %>
          <div class="col">
            <%= link_to admin_posts_path(tag_id: tag.id) do %>
              <%= tag.name %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <!--撮影場所-->
        <h4>撮影場所</h4>
        <div id='map'></div>

        <style>
        #map {
          height: 400px;
          width: 90%;
        }
        </style>

        <!-- js部分 -->
        <script>
        //初期マップの設定
        let map
        let marker
        function initMap(){
          geocoder = new google.maps.Geocoder()

          map = new google.maps.Map(document.getElementById('map'), {
            center:  {lat: <%= @post.lat %>, lng: <%= @post.lng %>},
            zoom: 15,
          });

           marker = new google.maps.Marker({
            position:  {lat: <%= @post.lat %>, lng: <%= @post.lng %>},
            map: map
          });
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" async defer></script>
      </div>

      <% @post.post_comments.each do |post_comment| %>
        <div class="row">
            <div class="col">
              <%= image_tag post_comment.user.get_profile_image(100,100) %>
            </div>
            <div class="col">
              <%= post_comment.user.name %>
            </div>
            <div class="col">
              <%= l post_comment.created_at %>
            </div>
        </div>
        <div class="row">
          <div class="col">
            <p><%= post_comment.comment %></p>
          </div>
          <div class="col">
              <%= link_to "削除", admin_post_post_comment_path(@post, post_comment), method: :delete, data: {confirm: '本当に削除しますか'}, class: "btn btn-danger" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
