<%= form_with model: @user do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <%= render 'public/posts/sidebar' %>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <h4 class="mb-5 mt-3">プロフィール編集</h4>
        <% if @user.errors.any? %>
          <%= @user.errors.count %>件のエラーが発生しました
          <ul class="alert alert-danger" role="alert">
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <div class="row my-3">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <%= f.label :profile_image, "プロフィール画像" %>
          </div>
          <div class="col-md-4">
            <%= f.file_field :profile_image, accept: "image/*" %>
          </div>
        </div>

        <div class="row my-4">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <%= f.label :name, "ユーザー名" %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :name, class: "rounded" %>
          </div>
        </div>

        <div class="row my-4">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <%= f.label :email, "メールアドレス" %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :email, size: 40, class: "rounded" %>
          </div>
        </div>

        <div class="row my-4">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <%= f.label :introduction, "自己紹介" %>
          </div>
          <div class="col-md-4">
            <%= f.text_area :introduction, size: "40x4", class: "rounded" %>
          </div>
        </div>

        <div class="row ">
          <div class="col-md-4"></div>
          <div class="col-md-2 mr-5">
            <%= f.submit "変更を保存", class: "btn btn-lg btn-success" %>
          </div>
          <div class="col-md-2">
            <%= link_to "退会", users_unsubscribe_path, class: "btn btn-lg btn-danger" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>