<div class="container">
  <div class="row">
    <%= render "posts/sidebar" %>
    <div class="col-md-9">
      <div class="row">
        <% if user_signed_in? %>
          <div class="search_form">
            <%= form_with url: search_path, local: true, method: :get do |f| %>
              <%= f.text_field :word %>
              <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
              <%= f.submit "検索", class: "btn btn-primary" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <table class="table table-hover">
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <%= link_to user_path(user.id), class: "text-dark" do %>
                  <td><%= image_tag user.get_profile_image(100,100) %></td>
                  <td><%= user.name %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>